body {
    background-color: rgb(0, 0, 0);
}
.counter {
    background: rgba(30, 30, 30, 255);
    animation: counter-anim 2s normal;
}
@keyframes counter-anim {
    0%   {background: rgba(30, 30, 30, 0);}
    100% {background: rgba(30, 30, 30, 255);}
}

.dashrow {
    margin: 8px;
}

:root {
    color-scheme: dark;
  }